*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    color: white;
    background-color: black;
}
.header{
     width: 100%;
     height: 100vh;
     background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
     position: relative;
     background-size: cover;
     background-position: center;
     padding: 10px 8%;
}
nav{
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 10px 0;
}
.logo{
    width: 150px;
    cursor: pointer;
}
.languagebtn{
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px solid #fff;
    padding: 7px 10px;
    color: #fff;
    border-radius: 8%;
    margin-left: 10px;
    cursor: pointer;
}
.bgvideo{
    height: 140vh;
    width: 120%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-size: cover;
    background-position: center;
}
.headerkont{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 100px;
}
.headerkont h1{
    font-size: 68px;
    line-height: 72px;
    font-weight: 600;
    max-width: 650px;
    margin-left: 10%;
    animation: h1anime 5s infinite alternate-reverse;
}
@keyframes h1anime{
    0% {
        color: red;
    }

    25% {
        color: yellow;
    }

    50% {
        color: blue;
    }

    100% {
        color: green;
    }
}
.headerkont h3{
    font-weight: 400px;
    margin-bottom: 20px;
    font-size: 35px;
    line-height: 40px;
}
.headerkont p{
    margin-bottom: 18px;
}
/*table starts here  ................*/
.content{
    margin-left: 9%;
}
.moviesT{
    border: solid 3px grey;
    width: 80%;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 65px;
}
table video{
    width: 360px;
    height: 580px;
    display:flex;
    margin-left: 16px;
    
}
td video:hover{
    animation: pop 0.3s linear 1 ;
}
td{
    border: 1px dotted aqua;
}
@keyframes pop
{
    50%
    {
        transform: scale(1.1);
    }
}
/*footer start here...........*/
.footer{
    padding: 50px 15% 10px;
    border-top: 6px solid aquamarine;
    color:#777;
    justify-content: space-between;
}
.footer h2{
    font-size: 18px;
    font-weight: 400;
     margin-bottom: 30px;
     margin-left: 28%;
}
.footer .col{
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
}
.footer .col a{
    display:inline-block;
    justify-content: space-evenly;
    text-decoration: none;
    color: rgb(41, 66, 66);
    font-size: 14px;
    margin-bottom: 10px;
}
.footer .row{
    align-items: flex-start;
    padding: 10px 0;
}
.footer .languagebtn{
    padding: 10px 20px;
    border-radius: 5%;
}
.copyright{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
}
@media only screen and (max-width : 600px){
    .logo{
        width: 100px;
    }
    nav button{
        padding: 5px 10px;
    }
    nav .languagebtn{
        padding: 4px 8px;
    }
    .headerkont{
        position: unset;
        transform: none;
        padding-top: 150px;
    }
    .headerkont h1{
        font-size: 30px;
    }
    .text-col, .img-col{
        flex-basis: 100%;
    }
    .features h2{
        font-size: 30px;
    }
    .features p{
        font-size: 15px;
    }
    .row:nth-child(2), .row:nth-child(4){
        flex-direction: column-reverse;
    }
    .features .row{
        padding: 10px 0;
    }
    .faqs h2{
        font-size: 20px;
    }
    .accords .content{
        font-size: 14px;
    }
    .accords li label{
        padding: 10px;
        font-size: 14px;
    }
}